:root {
    --main-color-font: #dd6292;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--main-color-font);
}

.body {
    background: linear-gradient(75deg, #f0f8cd, #f1d1d2) fixed;
    font-family: "Montserrat Alternates", sans-serif;
}

.body__background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 38vh;
    background-image: url("./src/img/background.png");
    background-size: cover;
    opacity: 0.5;
    min-height: 220px;
}
.body__buttonsContainer {
    width: 70%;
    top: 64vh;
    position: relative;
}
.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}

.overlay__close {
    line-height: 0;
    top: -20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-size: 50px;
    color: var(--main-color-font);
    text-decoration: none;
    z-index: 30;
}

.overlay__close:hover {
    color: #f26294;
}

.body__commonContainer {
    position: relative;
    width: 86%;
    margin: 0 auto;
    height: 100%;
}

.body__contact {
    color: #4f6811;
    position: absolute;
    font-size: max(1.1em, min(7em, calc(100vw / 70)));
    line-height: 0.15em;
    font-weight: 500;
    z-index: 5;
    bottom: 1em;
    
}

.body__lady {
    position: absolute;
    height: 45vh;
    min-height: 150px;
    width: 30vw;
    min-width: 220px;
    top: 16vh;
    left: -2%;
}

.containerAbout__lotusesLogo {
    top: 1em;
    margin-bottom: 2em;
    position: relative;
    width: 20vh;
    height: 9vw;
    min-height: 100px;
    min-width: 100px;
}

.body__mainLogo {
    position: absolute;
    margin-top: 1em;
    height: 12vh;
    min-height: 71px;
    min-width: 100;
}

.body__phone {
    position: absolute;
    z-index: 15;
    max-height: 80vh;
    top: 10vh;
    right: 2%;
    min-height: 206px;
    min-width: 100px;
    max-width: 25vw;
}
.buttonsContainer__button {
    position: inherit;
}
.button {
    width: 300px;
    height: 100px;
    background-color: #f0d0d1;
    border-radius: 15px;
    box-shadow: 0 0 0.5em #444;
    overflow: hidden;
    transition-duration: 300ms;
}

.button:hover {
    transform: scale(1.1);
}

.button__google {
    width: 100%;
    height: 100%;
    object-fit: contain;
    backface-visibility: hidden;
    position: absolute;
    margin: 0 auto;
    background-color: #000000;
}

.body__containerAbout {
    position: absolute;
    left: 27%;
}

.containerAbout {
    text-align: center;
    min-height: 250px;
}

.containerAbout__header {
    line-height: 0.5em;
    font-size: max(4.5em, min(40em, 8vw));
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0;
}

.containerAbout__title {
    margin: 1em 0 1.5em;
    line-height: 0.6em;
    font-size: max(1.45em, min(10em, calc(100vw * 4 / 140)));
    font-weight: 400;
    letter-spacing: 0.1em;
}

.containerAbout__descr {
    font-size: max(0.95em, min(7em, calc(100vw / 70)));
    margin: 1em 0 0;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.body__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.8s ease;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
}

.body__overlay.body__openPopup {
    visibility: visible;
    opacity: 1;
}

.overlay__popup {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 25;
    text-align: center;
    background: linear-gradient(75deg, #f0f8cd, #f1d1d2);
    border-radius: 15px;
    transition: opacity 0.8s ease;
    position: relative;
}

.overlay__popup .overlay__popupImage {
    background: url("./src/img/popup.png") no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.buttonsContainer__details {
    font-size: max(1em, min(2em, calc(100vw / 60)));
    color: var(--main-color-font);
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #f0d0d1;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    .body__commonContainer {
        height: 30vh;
    }
    .body__buttonsContainer {
        top: 45vh;
    }
    .buttonsContainer {
        flex-direction: column;
    }
    .body__contact {
        font-size: max(2em, min(5em, calc(100vw / 70)));
    }
    .body__lady {
        left: -7%;
        width: 45vw;
    }
    .containerAbout__lotusesLogo {
        width: 10vh;
        height: 10vh;
    }
    .body__mainLogo {
        height: 8vh;
    }
    .body__phone {
        height: 60vh;
        max-width: 30vh;
        right: 0;
        top: 33vh;
    }
    .button {
        width: 450px;
        height: 150px;
    }
    .containerAbout {
        min-height: 25vh;
    }
    .containerAbout__header {
        padding-top: 1vh;
        font-size: max(5vw, 8vh);
        line-height: 0.2em;
    }
    .containerAbout__title {
        font-size: max(3.5em, min(8em, calc(100vw * 4 / 140)));
        height: 0;
    }
    .containerAbout__descr {
        line-height: 1.1em;
        font-size: max(2em, min(7em, calc(100vw / 70)));
    }
    .overlay__popup .overlay__popupImage {
        background: url("./src/img/popupVertical.png") no-repeat;
        background-position: center;
        background-size: contain;
    }
    .buttonsContainer__details {
        font-size: max(2em, min(7em, calc(100vw / 70)));
        margin-bottom: 30px;
    }
}

@media (max-aspect-ratio: 25/43) {
    .body__buttonsContainer {
        top: 30vh;
    }
    .body__lady {
        bottom: 5vh;
        top: auto;
    }
    .body__phone {
        height: 50vh;
    }
    .body__containerAbout {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .containerAbout {
        text-align: center;
    }
}

@media (max-width: 1201px) {
    .body__phone {
        right: 0;
    }
    .button {
        width: 240px;
        height: 80px;
    }
    .buttonsContainer__details {
        font-size: 1.5em;
    }
}

@media (max-width: 1201px) and (orientation: portrait) {
    .body__phone {
        height: 50vh;
        top: 40vh;
    }
    .button {
        width: 450px;
        height: 150px;
    }
    .buttonsContainer__details {
        font-size: max(2em, min(7em, calc(100vw / 70)));
    }
}

@media (max-width: 1201px) and (min-aspect-ratio: 60/29) {
    .body__background {
        height: 20vh;
        min-height: auto;
    }
    .body__buttonsContainer {
        top: 70vh;
        left: 10%;
    }
}

@media (max-width: 1025px) {
    .body__commonContainer {
        width: 96%;
    }
    .body__lady {
        left: -10px;
    }
    .body__phone {
        right: 1em;
    }
}

@media (max-width: 1025px) and (orientation: portrait) {
    .containerAbout__title {
        font-size: max(2.8em, min(5.6em, calc(100vw * 4 / 140)));
    }
    .containerAbout__descr {
        font-size: max(1.5em, min(4em, calc(100vw / 70)));
    }
    .buttonsContainer__button {
        margin-left: 5vw;
    }
    .button {
        width: 330px;
        height: 110px;
    }
}

@media (max-width: 1025px) and (min-aspect-ratio: 204/109) {
    .body__background {
        height: 20vh;
        min-height: auto;
    }
    .body__lady {
        left: auto;
        height: 40vh;
    }
    .containerAbout__lotusesLogo {
        height: 10vh;
        min-height: auto;
        min-width: auto;
    }
    .body__phone {
        right: 0;
        height: 90vh;
        top: 1vh;
        bottom: auto;
    }
    .containerAbout__header {
        font-size: 10vw;
    }
    .containerAbout__title {
        font-size: 3vw;
    }
    .containerAbout__descr {
        margin-top: -7vh;
    }
    .body__buttonsContainer {
        top: 55vh;
    }
    .buttonsContainer {
        justify-content: space-evenly;
    }
    .button {
        width: 30vh;
        height: 10vh;
        font-size: 1.5vw;
    }
}

@media (max-width: 769px) {
    .body__buttonsContainer {
        margin: 0;
        top: 55vh;
        padding-left: 10%;
    }
    .body__commonContainer {
        width: 100%;
    }
    .body__contact {
        left: 2vw;
    }
    .body__lady {
        left: 1%;
    }
    .body__mainLogo {
        margin-left: 10px;
        margin-top: 15px;
    }
    .body__phone {
        display: none;
    }
    .containerAbout {
        width: 70%;
    }
    .buttonsContainer__button {
        margin-bottom: 15px;
    }
    .button {
        width: 210px;
    }
}

@media (max-width: 769px) and (orientation: portrait) {
    .body__buttonsContainer {
        top: 50vh;
        padding: 0;
    }
    .buttonsContainer {
        width: auto;
        align-items: center;
        flex-direction: row;
    }
    .body__contact {
        font-size: max(2vh, 2.9vw);
    }
    .body__lady {
        display: none;
    }
    .body__phone {
        display: none;
    }
    .body__containerAbout {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .containerAbout {
        text-align: center;
    }
    .containerAbout__header {
        height: auto;
        padding: 1vh 0 0;
        left: 0;
        font-size: 15vw;
        line-height: 4vw;
    }
    .containerAbout__title {
        font-size: 5vw;
        line-height: 1vw;
    }
    .containerAbout__descr {
        font-size: max(2vh, 2.9vw);
        line-height: 1em;
    }
    .buttonsContainer__button {
        margin-left: 0;
        margin-bottom: 0;
    }
    .button {
        width: 270px;
        height: 90px;
    }
    .buttonsContainer__details {
        font-size: 4vw;
        margin-bottom: 0;
    }
}

@media (max-width: 769px) and (min-aspect-ratio: 769/555) {
    .body__contact {
        font-size: 1.8vw;
        bottom: 1vh;
    }
    .body__background {
        height: 20vh;
        min-height: auto;
    }
    .body__buttonsContainer {
        left: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 60vh;
    }
    .body__mainLogo {
        min-height: 50px;
        min-width: 70;
        margin-left: 5px;
        margin-top: 10px;
    }
    .body__lady {
        height: 40vh;
    }
    .buttonsContainer__button {
        margin: 0;
    }
    .button {
        width: 120px;
        height: 40px;
        font-size: 1.5vw;
    }
    .containerAbout__header {
        font-size: 9vw;
    }
    .containerAbout__title {
        font-size: 3vw;
        margin-top: 3vh;
    }
    .containerAbout__descr {
        font-size: 2vw;
        margin-top: -5vh;
    }
}

@media (max-width: 577px) {
    .body__buttonsContainer {
        margin: 0 auto;
        padding-left: 0;
    }
    .buttonsContainer {
        align-items: center;
    }
    .body__commonContainer {
        width: 100%;
    }
    .body__lady {
        display: none;
    }
    .containerAbout__lotusesLogo {
        min-width: 70px;
        min-height: 70px;
    }
    .body__mainLogo {
        min-height: 50px;
        min-width: 70;
        margin-left: 5px;
        margin-top: 10px;
    }
    .body__phone {
        display: none;
    }
    .buttonsContainer__button {
        margin: 0 10px;
    }
    .button {
        font-size: 1em;
    }
    .body__containerAbout {
        left: auto;
        padding: 2.5em 0 1em;
    }
    .containerAbout {
        width: 100%;
    }
}

@media (max-width: 577px) and (orientation: portrait) {
    .buttonsContainer {
        flex-direction: column;
    }
    .button {
        width: 210px;
        height: 70px;
    }
    .button:first-child {
        margin-bottom: 15px;
    }
}

button img {
    height: max(1em, min(7em, calc(100vw / 50)));
    transition: 1s;
    display: none;
}

button:hover {
    box-shadow: 0 0 0.5em #444;
    cursor: pointer;
}
